{% extends 'base.html.twig' %}

{% block title %} {{ conference }} {% endblock %}

{% block body %}
    <h2>{{ conference }}</h2>

    {% if comments|length > 0 %}
    <div>{{ comments|length }} комментариев</div>

        {% for comment in comments %}
            {% if comment.photoFilename %}
                <img src="{{asset('uploads/photos/' ~ comment.photoFilename)}} style='max-width: 200px'" />
            {% endif %}

            <h4>{{ comment.author }}</h4>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>

            <p>{{ comment.text }}</p>
        {% endfor %}

        {% if previous >= 0 %}
        
            <a href="{{ path('conference', {slug:conference.slug, offset:previous}) }}">Предыдущая</a>
        
        {% endif %}

        {% if next < comments|length %}
        
            <a href="{{ path('conference', {slug:conference.slug, offset:next}) }}">Далее</a>
        
        {% endif %}

    {% else %}
        <div>Оставьте первый комментарий для данной конференции.</div>
    {% endif %}

    <h2>Оставьте свой комментарий</h2>

    {{ form(comment_form) }}

{% endblock %}